{% extends "base2.html" %}
{% block content %}
<style>
    .avatar {
        vertical-align: middle;
        width: 300px;
        height: 300px;
        border-radius: 52%;
        display: block;
        margin-left: auto;
        margin-right: auto;
        margin-top: 5px;
    }
    .p1{
        font-family: Arial, Helvetica, sans-serif;font-size:42px;font-weight:Bold;
    }
    .p2{
        font-family: "Trebuchet MS", Verdana, sans-serif;font-size:30px;font-weight:normal;
    }
    .p3{
        font-family: "Trebuchet MS", Verdana, sans-serif;font-size:28px;font-style: italic;
    }
    .block {
        display: block;
        width: 100%;
        border: none;
        background-color:#5B5757;
        padding: 14px 28px;
        font-size: 20px;
        cursor: pointer;
        text-align: center;
        color:white;
        font-family:Arial;
    }

    .block:hover {
        background-color:#918E8E;
        color: black;
        text-decoration: none;
    }
</style>


<div class="container-fluid">
    <br><br>
    <div class="row">
        <div class="col-3 bg-light">
            <div style="/*background: linear-gradient(150deg, #9217B5, #79E6F2 95%);*/">

                <img src="{{ user.get_profile_image_url(300) }}" alt="Avatar" class="avatar"><br><br>
                <div class="card-body">
                    <p class="p1">
                        {{ user.fname + " " + user.lname }}
                    </p>
                    <p class="p2">
                        {{ user.faculty.designation }}
                    </p>
                    <p class="p3">
                        {{ user.faculty.department }}
                    </p>
                    <br>
                    <a style="text-decoration:none;" href="{{ url_for('edit_profile') }}" >
                        <button type="button" class="block">Edit Profile</button>
                    </a>
                </div>
            </div>
        </div>

        <!-- Centre details -->

        <div class="col-6 bg-light">
            <div class="row">
                <div class="col" style="text-align:center; background-color: #bbb;" id="personal-tab">
                    <h4>
                        <!-- <button type="button" class="centre" onclick = "showPersonal()">Personal Info</button> -->
                        <button type="button" class="btn btn-link text-dark" onclick = "showPersonal()" style="font-size:22px; font-family:verdana;">Personal Info</button>
                    </h4>
                </div>
                <div class="col" style="text-align:center;" id="publish-tab">
                    <h4>
                    <!-- <button type="button" class="centre" onclick = "showPaper()">Publications</button> -->
                    <button type="button" class="btn btn-link text-dark" onclick = "showPaper()" style="font-size:22px; font-family:verdana">My Publications</button>
                    </h4>
                </div>
            </div>

            <!-- Page 1 -->
            <div id="personal" style="display:block; padding: 0px 30px;">
                <!-- About me -->
                <p>
                    <hr>
                    <h2>About Me</h2>
                    <p>{{ user.faculty.about_me }}</p>
                </p>
                <!-- About Me -->


                <!--Work Experience -->
                <p>
                    <h2>Work Experience</h2>
                    <p>{{ user.faculty.work_exp }}</p>
                </p>
                <!-- Work Experience -->

                <table>
                    <!-- LinkedIn -->
                    <tr>
                        <td><i class="fab fa-linkedin"></i></td>
                        <td><a href="{{ user.faculty.linkedin }}">Linked.in</a></td>
                    </tr>
                    <!--LinkedIn -->

                    <!-- Github -->
                    <tr>
                        <td><i class="fab fa-github"></i></td>
                        <td><a href="{{ user.faculty.github }}">GitHub</a></td>
                    </tr>
                    <!-- Github -->

                </table>
            </div>
            <!-- Page 1 -->

            <!--Page 2 -->
            <div id="publish" style="display:none; padding:0px 30px;">
                {% for paper in user.publications() %}
                    <div>
                        <hr>
                        <h2>Abstract</h2>
                        <p>{{ paper.abstract }}</p>
                    </div>
                    <div>
                        <h6>Link to the paper</h6>
                        <p>{{ paper.paper_file }}</p>
                    </div>
                {% endfor %}


            </div>
            <!--Page 2 -->
        </div>

        <!--Centre details -->

        <div class="col-3 bg-light" style="padding-left:40px;"><br>
            <h2 style="font-family:tahoma">
                <i class="fas fa-id-badge"></i> Global ID
            </h2>
            <p>Id from Database</p>
            <br>
            <h2 style="font-family:tahoma">
                <i class="fas fa-envelope"></i> Email
            </h2>
            <p>{{ user.email }}</p><br>

            <h2 style="font-family:tahoma">
                <i class="fas fa-phone"></i> Phone
            </h2>
            <p>{{ user.faculty.phone_number }}</p><br>
            <h2 style="font-family:tahoma">
                <i class="fas fa-map-marker-alt"></i> Address
            </h2>
            <p>{{ user.faculty.address }}</p>
        </div>
    </div>
</div>

<!-- <footer> -->
<div class="container-fluid dark">
    <center>
        <h6 style="padding: 10px; margin-bottom: 0.05rem;">
            <footer>&copy; Copyright 2022. All rights reserved.</footer>
        </h6>
    </center>
</div>

<script type="text/javascript">
    function showPaper(obj){
        document.getElementById("personal").style.display= "none";
        $('#personal-tab').css( "background-color", "");
        document.getElementById("publish").style.display = "block";
        $('#publish-tab').css( "background-color", "#bbb");
    }
    function showPersonal(obj){
        document.getElementById("personal").style.display= "block";
        $('#personal-tab').css( "background-color", "#bbb");
        document.getElementById("publish").style.display = "none";
        $('#publish-tab').css( "background-color", "");
    }
</script>



{% endblock %}
